{% extends 'base.html' %}

{% block content %}

    <div class="container text-center">
        <a href="{% url 'shopapp:backgroundpurchasing' background_pk=target_background.pk %}"
           class="material-icons"
           style="vertical-align: middle; color: #f12f2f">
            favorite
        </a>
        {#      게시글 내용      #}
        {% if target_background.image %}
            <img src="{{ target_background.image.url }}"
                 alt="dd"
                 class="article_image">

            <div>{{ user.profile.mileage }}</div>
        {% endif %}
    </div>

    </div>

{% endblock %}