{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

    <style>
        Body {
            background-color: #E5F9D1;
        }
        form {
            border: 5px solid floralwhite;
            margin-bottom: 5rem;
        }
        .content {
            margin: 1rem;
        }
    </style>

    <div class="text-center mw-500 m-auto" style="font-family: 'DungGeunMo', cursive">

        <div class="page_title">
            <h2> **** Sign Up **** </h2>
        </div>

        <div>
            <form action="{% url 'accountapp:create' %}" method="post">
                {% csrf_token %}

                <div class="signup_container">

                        <label> -- Username -- </label>
                        <input type="text" placeholder="Enter Username" name="username" required>


                        <label> -- Password -- </label>
                        <input type="password" placeholder="Enter Password" name="password1" required>
                        <input type="password" placeholder="Confirm Password" name="password2" required>


                    <div style="margin-top: 1rem">
                        <input type="submit" value="Sign Up" class="account_button">
                    </div>

                </div>

            </form>
        </div>
    </div>


{% endblock %}