{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="mypage_wrap">

        <div id="background" style="background-color: darkolivegreen; height: 200px;"></div>

        <div id="mypage_container">
            {% if target_user.profile %}
                <div id="mypage_header">
                    <div class="profile">
                        <img src="{{ target_user.profile.image.url }}" id="profile_image" alt="profile image">
                        <h2 class="NNS_B">
                            {{ target_user.profile.nickname }}
                            {% if user == target_user %}
                            <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"
                               class="material-icons round_button">
                                edit
                            </a>
                            {% endif %}
                        </h2>
                        <div style="margin: 10px">마일리지 : {{ target_user.profile.mileage }}</div>
                        {% if user == target_user %}
                            <button type="button" class="btn btn-success" onclick="location.href = 'https://yuseonchoi.itch.io/plant-it'">
                                내 맵으로 이동
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div id="mypage_contents">
                    <div id="mypage_sidebar">
                        <button type="button" onclick="open_list('my_articles')">
                            내가 쓴 글
                        </button>
                        <button type="button" onclick="open_list('my_challenges')">
                            인증한 챌린지
                        </button>
                    </div>
                    <div id="my_contents">
                        <div id="my_challenges" class="my">
                            {% for challenge in my_challenges %}
                                <a href="{% url 'challengeapp:detail' pk=challenge.pk %}" class="NNS_B m-2" style="display: block">
                                    * {{ challenge.title }}
                                </a>
                            {% endfor %}
                        </div>

                        <div id="my_articles" class="my" style="display: none">
                            {% for article in my_articles %}
                                <a href="{% url 'articleapp:detail' pk=article.pk %}" class="NNS_B m-2" style="display: block">
                                    - {{ article.title }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% else %}
                <div id="mypage_header">
                    <div class="profile">
                        <img src="{% static 'imgs/empty_profile.png' %}" id="profile_image" alt="profile image">
                        <h2 class="NNS_B">
                            <a href="{% url 'profileapp:create'%}">
                                프로필 생성
                            </a>
                        </h2>
                    </div>
                </div>
                <div id="mypage_contents" style="height: 200px"></div>
            {% endif %}

        </div>


    {% if user == target_user %}
        <div class="updateanddelete">
            <a href="{% url 'accountapp:update' pk=target_user.pk %}">
                회원정보수정
            </a>
            <a href="{% url 'accountapp:delete' pk=target_user.pk %}">
                계정삭제
            </a>
        </div>
    {% endif %}


    </div>




    <script>
        function open_list(my_list) {
            var i;
            var x = document.getElementsByClassName("my");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(my_list).style.display = "block";
        }
    </script>



{% endblock %}
