{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <style>
        Body {
            background-color: lightgoldenrodyellow;
        }

        form {
            border: 5px solid floralwhite;
            margin-bottom: 5rem;
        }



    </style>
    <div class="text-center mw-500 m-auto DGM">

        <div class="page_title">
            <h2> ****  Log In  **** </h2>
        </div>

        <div>
            <form action="{% url 'accountapp:login' %}" method="post">
                {% csrf_token %}

                <div class="login_container">

                    {% bootstrap_form form %}

                    <div style="margin-top: 1rem">
                        <input type="submit" value="Log In" class="account_button">
                    </div>
                </div>
            </form>
        </div>

    </div>


{% endblock %}