{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <style>
        Body {
            background-color: lightgoldenrodyellow;
        }

        button {
            background-color: #4CAF50;
            width: 100%;
            color: orange;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        form {
            border: 7px solid #f1f1f1;
            margin-bottom: 5rem;
        }

        input[type=text], input[type=password] {
            width: 100%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 2px solid green;
            box-sizing: border-box;
        }

        button:hover {
            opacity: 0.7;
        }


    </style>
    <div class="text-center mw-500 m-auto" style="font-family: 'DungGeunMo', cursive">
        <div class="m-4">
            <h3>Log In</h3>
        </div>
        <div>
            <form action="{% url 'accountapp:login' %}" method="post">
                {% csrf_token %}
                <div class="login_container">
                    <label> Username </label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label> Password </label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit"> Log In </button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}