{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .container {
            padding: 0;
            margin: 0 auto;
        }

        .container div {
            margin-top: 2rem;
            max-width: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .container img {
            width: 270px;
            height: 270px;
            object-fit: cover;
        }

    </style>



    <div style="text-align: center; margin: 3rem 0 0 0;">

        <a href="{% url 'challengeapp:create' %}" class="home_challenge">
            {{ random_challenge.title }}
        </a>
    </div>


    <div class="container" style="margin: 1.5rem auto 4rem auto">

        {% for article in best_articles %}

            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <img src="{{ article.image.url }}" alt="">
                </a>
            </div>

        {% endfor %}

    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock %}