{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        <
        style >
        .container {
            padding: 0;
            margin: 0 auto;
        }

        .container div {
            margin-top: 2rem;
            max-width: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
        {#border-radius: 0.5rem;#} flex-direction: column;
        {#box-shadow: 0 0 0.5rem darkgray;#}
        }

        .container img {
        {#border-radius: 0.5rem;#} width: 270px;
            height: 270px;
            object-fit: cover;
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    </style>

    </style>



    <div style="text-align: center; margin: 3rem;">

        {#        {% for challenge in challenge_list %}#}
        {##}
        {#            <div>#}
        {#                <a href="{% url 'challengeapp:update' pk=random_challenge.pk %}" class="NNS_B m-2">#}
        {#                    {{ random_challenge.title }}#}
        {#                </a>#}
        {#            </div>#}
        {##}
        {#        {% endfor %}#}

        <a href="{% url 'challengeapp:update' pk=random_challenge.pk %}" class="NNS_B m-2">
            {{ random_challenge.title }}
        </a>
    </div>


    <div class="container my-5">

        {% for article in best_articles %}

            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <img src="{{ article.image.url }}" alt="">
                </a>
            </div>

        {% endfor %}

    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock %}