<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body style="background-color: #262B44; text-align: center;">
    <div style="margin-top: 10%">
        <img src="{% static 'imgs/logo.png' %}" alt="logo" style="max-width: 20%">
    </div>
    <div>
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign Up
            </a>
        </span>
    </div>
</body>
</html>