{% include 'head.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>

    img {
        position: absolute;
        z-index: 3;
    }


</style>
<body style="background-color: #000000; text-align: center; padding-top: 4em">

<div style="text-align: center;">
    <img src="{% static 'imgs/star_2.png' %}" alt="star_2" style="max-width: 8rem; bottom:60%; left:10%"
         class="blinking_1_5s">
    <img src="{% static 'imgs/star_1.png' %}" alt="star_1" style="max-width: 8rem; bottom:20%; left:25%;"
         class="blinking_1s">
    <img src="{% static 'imgs/earth.png' %}" alt="earth" style="max-width: 30rem; left:35%">
    <img src="{% static 'imgs/star_3.png' %}" alt="star_3" style="max-width: 8rem; bottom:45%; left:70%"
         class="blinking_0_8s">
    <img src="{% static 'imgs/star_1.png' %}" alt="star_1" style="max-width: 8rem; bottom:35%; left:85%"
         class="blinking_1s">

</div>

<div>

    <a href="{% url 'accountapp:login' %}">
        <img src="{% static 'imgs/login.png' %}" alt="login" style="width:10rem; height:6rem; right:51%; bottom: 10%">
    </a>
    <a href="{% url 'accountapp:create' %}">
        <img src="{% static 'imgs/signup.png' %}" alt="signup" style="width:10rem; height:6rem; right:39%; bottom: 10%">
    </a>

</div>

<div class="stars"></div>
<div class="twinkling"></div>

</body>
</html>