
.header_logo {
    text-align: center;
}

.header_logo img {
    width: 25rem;
}

.header_button {
    margin-bottom: 2rem;
    font-family: 'DungGeunMo', cursive;
}

.footer_logo {
    margin: 1.5rem 0;
    font-family: 'DungGeunMo', cursive;
}

.footer_button {
    margin-top: 2rem;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}


.account_button {
    background-color: #4CAF50;
    font-size: 1.3rem;
    width: 100%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
}

.account_button:hover {
    opacity: 0.7;
}

.page_title {
    margin: 3rem;
    font-family: 'DungGeunMo', cursive;
    color: darkgreen;
}

.profile_image {
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B {
    font-family: 'NanumSquareB', cursive;
}

.DGM {
    font-family: 'DungGeunMo', cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: dimgray;

}

.article_image {
    width: 50%;
}

.article_content {
    font-size: 1.1rem;
    text-align: left;
    margin: 2rem 0;
}


input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid darkgreen;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid darkgreen;
    box-sizing: border-box;
}

.filebox {
    display: inline-block;
    margin-right: 10px;
}


.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox.bs3-success label {
    color: #fff;
    background-color: #2d8756;
    border-color: #2d8756;
}

.comment_box {
    text-align: left;
    margin: 1rem 0;
    padding: 1rem;
}

.page_button {
    margin: 0.5rem;
}

@media screen and (max-width: 500px) {
    html {
        /* default font-size = 16px */
        font-size: 13px;
    }
}


.calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-month {
    font-size: 35px;
}

.calendar_nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.go-today {
    width: 75px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.days {
    display: flex;
    margin: 25px 0 10px;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
}

.date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #FFFFFF;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
}

a {
    text-decoration-line: none;
    color: black;

}

/* main star animation */

.blinking_1_5s {
    -webkit-animation: blink 1.5s ease-in-out infinite alternate;
    -moz-animation: blink 1.5s ease-in-out infinite alternate;
    animation: blink 1.5s ease-in-out infinite alternate;
}

.blinking_1s {
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -moz-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

.blinking_0_8s {
    -webkit-animation: blink 0.8s ease-in-out infinite alternate;
    -moz-animation: blink 0.8s ease-in-out infinite alternate;
    animation: blink 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.stars {
    background: black url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation: move-background 10s linear infinite;
    -ms-animation: move-background 10s linear infinite;
    -o-animation: move-background 20s linear infinite;
    -webkit-animation: move-background 20s linear infinite;
    animation: move-background 20s linear infinite;

}

/* log in */

.login_container {
    padding: 25px;
    background-color: lightblue;
    font-family: 'DungGeunMo', cursive;
}

.signup_container {
    padding: 25px;
    background-color: lightblue;
    font-family: 'DungGeunMo', cursive;
}

label {
    font-size: 1.5rem;
    font-family: 'DungGeunMo', cursive;
    margin: 0.5rem;
}

* {
    cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png), auto;
}

a, a:link, a img, a img:link, button, button:link,
input, input:link, label[for="form.image"], label[for="form.image"]:link,
    /*label[for="form.project"], label[for="form.project"]:link,*/
textarea, textarea:link, input[type=submit], input[type=submit]:link {
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;
}

a:hover, a:focus, a img:hover, a img:focus, button:hover, button:focus
input:hover, input:focus, label[for="form.image"]:hover, label[for="form.image"]:focus,
    /*label[for="form.project"]:hover, label[for="form.project"]:focus,*/
textarea:hover, textarea:focus,
input[type=submit]:hover, input[type=submit]:focus {
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;
}

a:active, a img:active, button:active,
input:active, label[for="form.image"]:active,
    /*label[for="form.project"]:active,*/
textarea:active, input[type=submit]:active {
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;
}
