
.header_logo {
    text-align: center;
}

.header_logo img {
    width: 25rem;
}

.header_button {
    margin-bottom: 2rem;
    font-family: 'DungGeunMo', cursive;
}

.footer_logo {
    border-top: 4px solid darkgreen;
    margin: 2rem;
    padding: 1.5rem 0;
    font-family: 'DungGeunMo', cursive;
}

.footer_button {
    margin-top: 2rem;
}

.mw-500 {
    max-width: 500px;
    margin: 1rem 1.5rem;
}


.account_button {
    background-color: #4CAF50;
    font-size: 1.3rem;
    width: 100%;
    color: orange;
    padding: 15px;
    margin: 10px 0px;
    border: none;
}

.account_button:hover {
    opacity: 0.7;
}

.page_title {
    margin: 3rem;
    font-family: 'DungGeunMo', cursive;
    color: darkgreen;
}

.NNS_B {
    font-family: 'NanumSquareB', cursive;
}

.DGM {
    font-family: 'DungGeunMo', cursive;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 1px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover {
    color: dimgray;

}

.article_image {
    width: 50%;
}

.article_content {
    font-size: 1.1rem;
    text-align: center;
    margin: 2rem 0;
}

.home_challenge {
    font-family: NanumSquareB;
    color: darkgreen;
    padding: 0 0.5rem;
}

#mypage_wrap {
    position: relative;
    background-color: darkolivegreen;
    padding: 1px;
}

#mypage_container {
    background-color: white;
    border-radius: 10px;
    margin: 0 20px;
    height: auto;
}

#mypage_contents {
    top: 250px;
    height: 600px;
}

#mypage_sidebar {
    float: left;
    width: 25%;
    padding: 20px;
    margin-top: 250px;
    margin-left: 5%;
}

#mypage_sidebar > button {
    background-color: white;
    border: 1px solid darkolivegreen;
    color: darkolivegreen;
    padding: 15px 27px;
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
}

#mypage_sidebar > button:hover {
    background-color: #e2e2e2;
}

#my_contents {
    float: left;
    padding: 20px;
    margin-top: 250px;
    width: 70%;
}

#profile_image {
    width: 12rem;
    height: 12rem;
    border-radius: 20rem;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 1rem dimgray;
}

.profile {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.updateanddelete {
    text-align: center;
    margin: 20px;
}

.updateanddelete > a {
    margin: 10px;
    color: #e2e2e2;
}

.updateanddelete > a:hover {
    color: gray;
}

h5.challenge_success {
    font-size: 1.5rem;
    color: #2d8756;
}

h5.challenge_try {
    color: goldenrod;
}

.my {
    height: 300px;
    overflow: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid darkgreen;
    box-sizing: border-box;
}

textarea {
    margin: auto;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid darkgreen;
    box-sizing: border-box;
}

.filebox {
    display: inline-block;
    margin-right: 10px;
}


.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox.bs3-success label {
    color: #fff;
    background-color: #2d8756;
    border-color: #2d8756;
}

.comment_box {
    text-align: left;
    margin: 1rem 0;
    padding: 1rem;
}

.page_button {
    margin: 0.5rem;
}

div form-group {
    margin: 20rem;
}

@media screen and (max-width: 500px) {
    html {
        /* default font-size = 16px */
        font-size: 13px;
    }
}


.nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
}

.menu {
    background-color: #AFD485;
    text-align: center;
    line-height: 3.5;
    margin: 2rem;
    border-top: 4px solid darkgreen;
    border-bottom: 4px solid darkgreen;
}

.menu a {
    padding: 22px 0px;
    margin: 0 1.5rem;
    font-family: DungGeunMo, cursive;
    font-size: 18px;
    text-decoration: none;
    color: #282929;
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;
}

.menu a:hover {
    color: #DDECCA;
    padding: 6px 0px;
}

.menu a.active {
    padding: 6px 0;
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;

}

a {
    text-decoration-line: none;
    color: black;

}

/* main star animation */

.blinking_1_5s {
    -webkit-animation: blink 1.5s ease-in-out infinite alternate;
    -moz-animation: blink 1.5s ease-in-out infinite alternate;
    animation: blink 1.5s ease-in-out infinite alternate;
}

.blinking_1s {
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -moz-animation: blink 1s ease-in-out infinite alternate;
    animation: blink 1s ease-in-out infinite alternate;
}

.blinking_0_8s {
    -webkit-animation: blink 0.8s ease-in-out infinite alternate;
    -moz-animation: blink 0.8s ease-in-out infinite alternate;
    animation: blink 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.stars {
    background: black url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation: move-background 10s linear infinite;
    -ms-animation: move-background 10s linear infinite;
    -o-animation: move-background 20s linear infinite;
    -webkit-animation: move-background 20s linear infinite;
    animation: move-background 20s linear infinite;

}

/* log in */

.login_container {
    padding: 25px;
    background-color: lightblue;
    font-family: 'DungGeunMo', cursive;
}

.signup_container {
    padding: 25px;
    background-color: lightblue;
    font-family: 'DungGeunMo', cursive;
}

label {
    font-size: 1.5rem;
    font-family: 'DungGeunMo', cursive;
    margin: 0.5rem;
}

/* STICKY NOTE */

#survey-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


legend.tape {
    background-color: rgba(255, 255, 255, .7);
    padding: 12px;
}

fieldset.sticky-note {
    height: 18em;
    width: 18em;
    padding: 2em;
    margin: 3em;
    color: #000;
    background: rgb(255, 253, 199);
    box-shadow: 8px 5px 5px rgba(33, 33, 33, .5);
}

fieldset.sticky-note:nth-child(1) {
    background-color: rgb(199, 201, 255);
}

/*2*/
.sticky-note {
    max-width: 500px;
    position: relative;
    margin-top: 3rem;
    margin-left: 3rem;
}

.sticky-note__content {
    z-index: 4;
    position: relative;
    min-height: 160px;
    line-height: 160px;
    text-align: center;
}

.sticky-note__content a {
    text-align: center;

}

.sticky-note__read-on {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: block;
    color: green;
    font-weight: bold;
    text-decoration: none;

}

.sticky-note__sheet {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.sticky-note__sheet--top {
    z-index: 3;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f7d7+0,ffffea+100 */
    background: rgb(246, 247, 215); /* Old browsers */
    background: -moz-linear-gradient(
            45deg,
            rgba(246, 247, 215, 1) 0%,
            rgba(255, 255, 234, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
            45deg,
            rgba(246, 247, 215, 1) 0%,
            rgba(255, 255, 234, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
            45deg,
            rgba(246, 247, 215, 1) 0%,
            rgba(255, 255, 234, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#f6f7d7",
            endColorstr="#ffffea",
            GradientType=1
    ); /* IE6-9 fallback on horizontal gradient */
    transform: rotate(2deg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    height: 102%;
}

.sticky-note__sheet--middle {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1e2ba+0,ececba+100 */
    background: rgb(225, 226, 186); /* Old browsers */
    background: -moz-linear-gradient(
            45deg,
            rgba(225, 226, 186, 1) 0%,
            rgba(236, 236, 186, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
            45deg,
            rgba(225, 226, 186, 1) 0%,
            rgba(236, 236, 186, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
            45deg,
            rgba(225, 226, 186, 1) 0%,
            rgba(236, 236, 186, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#e1e2ba",
            endColorstr="#ececba",
            GradientType=1
    ); /* IE6-9 fallback on horizontal gradient */
    z-index: 2;
    transform: rotate(-1deg) translate(6px, -4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.sticky-note__sheet--bottom {
    background: green;
    z-index: 1;
    width: 98%;
    transform: rotate(-5deg) translate(14px, -1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sticky-note__tape {
    z-index: 5;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 36px;
    width: 70px;
    opacity: 0.6;
}


/*3*/

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 * Licensed under the MIT License
 *
 * Sass/SCSS source: https://goo.gl/8hncj
 * PSD by Liam McCabe: https://goo.gl/md3Dj
 */

.notepaper {
    position: relative;
    margin: 70px auto 60px auto;
    padding: 29px 20px 20px 45px;
    width: 300px;
    line-height: 30px;
    color: #6a5f49;
    text-shadow: 0 1px 1px white;
    background-color: #f2f6c1;
    background-image: -webkit-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -webkit-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -moz-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -moz-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    background-image: -o-radial-gradient(center, cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 90%), -o-repeating-linear-gradient(top, transparent 0%, transparent 29px, rgba(239, 207, 173, 0.7) 29px, rgba(239, 207, 173, 0.7) 30px);
    border: 1px solid #c3baaa;
    border-color: rgba(195, 186, 170, 0.9);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
}

.notepaper:before, .notepaper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
}

.notepaper:before {
    left: 28px;
    width: 2px;
    border: solid #efcfad;
    border-color: rgba(239, 207, 173, 0.9);
    border-width: 0 1px;
}

.notepaper:after {
    z-index: -1;
    left: 0;
    right: 0;
    background: rgba(242, 246, 193, 0.9);
    border: 1px solid rgba(170, 157, 134, 0.7);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.quote {
    font-family: Georgia, serif;
    font-size: 14px;
}

.curly-quotes:before, .curly-quotes:after {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 48px;
    font-size: 50px;
    opacity: .2;
}

.curly-quotes:before {
    content: '\201C';
    margin-right: 4px;
    margin-left: -8px;
}

.curly-quotes:after {
    content: '\201D';
    margin-left: 4px;
    margin-right: -8px;
}

.quote-by {
    display: block;
    padding-right: 10px;
    text-align: right;
    font-size: 1.2rem;
    font-family: Times New Roman;
    color: #84775c;
}

.lt-ie8 .notepaper {
    padding: 15px 25px;
}



* {
    cursor: url(https://raw.githubusercontent.com/nostalgic-css/NES.css/develop/assets/cursor.png), auto;
}

a, a:link, a img, a img:link, button, button:link,
input, input:link, label[for="form.image"], label[for="form.image"]:link,
    /*label[for="form.project"], label[for="form.project"]:link,*/
textarea, textarea:link, input[type=submit], input[type=submit]:link {
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;
}

a:hover, a:focus, a img:hover, a img:focus, button:hover, button:focus
input:hover, input:focus, label[for="form.image"]:hover, label[for="form.image"]:focus,
    /*label[for="form.project"]:hover, label[for="form.project"]:focus,*/
textarea:hover, textarea:focus,
input[type=submit]:hover, input[type=submit]:focus {
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;
}

a:active, a img:active, button:active,
input:active, label[for="form.image"]:active,
    /*label[for="form.project"]:active,*/
textarea:active, input[type=submit]:active {
    cursor: url(https://github.com/nostalgic-css/NES.css/blob/develop/assets/cursor-click.png?raw=true), auto;
}
