{% load static %}
<div style="text-align: center">
    <div class="header_logo m-3">
        <a href="{% url 'mainapp:home' %}">
            <img src="{% static 'imgs/header_logo.png' %}" alt="header_logo">
        </a>
    </div>
    <div class="header_button">
        <span style="margin: 1rem">
            <a href="{% url 'articleapp:list' %}">
                LIST
            </a>
        </span>

        {% if not user.is_authenticated %}
            <span style="margin: 1rem">
            <a href="{% url 'accountapp:login' %}">
                LOG IN
            </a>
        </span>
            <span style="margin: 1rem">
            <a href="{% url 'accountapp:create' %}">
                SIGN UP
            </a>
        </span>
        {% else %}
            <span style="margin: 1rem">
            <a href="{% url 'accountapp:logout' %}">
                LOG OUT
            </a>

        </span>
            <span style="margin: 1rem">
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                MY PAGE
            </a>
        </span>
        {% endif %}
    </div>
</div>
