{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <style>
        Body {
            background-color: lightgoldenrodyellow;
            padding: 2em 0;
        }

        form {
            margin-bottom: 5rem;
        }

        label {
            font-family: 'DungGeunMo', cursive;
            margin: 0.3rem;
        }

        .content {
            margin: 1rem;
        }

    </style>
    <div class="text-center mw-500 m-auto">

        <div class="m-5 page_title">
            <h2>Create Article</h2>
        </div>

        <div>
            <form action="{% url 'articleapp:create' %}"
                  method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="content">
                    <label for="form.title"> Title </label>
                    <input type="text" name="title" required>
                </div>

                <div class="content">
                    <label for="form.project"> Project </label>
                    <div> {{ form.project }} </div>
                </div>

                <div class="filebox bs3-success content">
                    <label for="form.image"> Picture Select </label>
                    <br>
                    <input type="file" name="image" accept="image/*" required id="form.image">
                </div>

                <div class="content">
                    <label for="form.content"> Content </label>
                    <textarea name="content" id="form.content" cols="40" rows="10" required></textarea>
                </div>

                <div class="m-5">
                    <input type="submit" value="D O N E !" class="btn btn-outline-success DGM px-5"
                           style="font-size: 1.5rem">
                </div>

            </form>
        </div>

    </div>

{% endblock %}
