{% extends 'base.html' %}

{% block content %}

<div class="text-center mw-500 m-auto">
    <div class="m-5">
        <h4 class="DGM">Delete Article :</h4>
        <br>
        <h5>{{ target_article.title }}</h5>
    </div>
    <div>
        <form action="{% url 'articleapp:delete' pk=target_article.pk %}"
              method="post">
            {% csrf_token %}
            <div class="m-5 DGM">
                <h6 style="color: #999999">Are you sure?</h6>
                <input type="submit" class="btn btn-danger rounded-pill px-5" value="DELETE !">
            </div>
        </form>
    </div>
</div>


{% endblock %}
