{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}


    <style>
        form {
            margin-bottom: 5rem;
        }

        .content {
            margin: 1rem;
        }
    </style>

    <div class="text-center mw-500 m-auto">

        <div class="page_title">
            <h2>Create Challenge</h2>
        </div>

        <div>
            <form action="{% url 'challengeapp:create' %}"
                  enctype="multipart/form-data"
                  method="post">

                {% csrf_token %}

                <div class="content">
                    <label for="form.title"> Title </label>
                    <div> {{ form.title }} </div>
                </div>

                <div class="content">
                    <label for="form.image"> Picture Select </label>
                    <br>
                    <input type="file" name="image" accept="image/*" class="form-control-file"
                           title required id="form.image">
                </div>

                <div class="content">
                    <label for="form.content"> Content </label>
                    <textarea name="content" id="form.content" cols="40" rows="10" required></textarea>
                </div>

                <div class="m-5">
                    <input type="submit" value="D O N E !" class="btn btn-outline-secondary DGM px-5"
                           style="font-size: 1.5rem">
                </div>

            </form>
        </div>
    </div>


{% endblock %}