{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="text-center mw-500 m-auto">
    <div class="m-5 page_title">
        <h2>Update Profile</h2>
    </div>
    <div>
        <form action="{% url 'profileapp:update' pk=target_profile.pk %}"
              enctype="multipart/form-data"
              method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <div class="m-5">
                    <input type="submit" value="UPDATE !" class="btn btn-secondary DGM px-5"
                           style="font-size: 1.5rem">
                </div>
        </form>
    </div>
</div>


{% endblock %}